<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Resume</title>
</head>
<body>
    <header>
        <div class="heading">
            <h1>tebogo sekhula</h1>
            <h2>junior web developer</h2>
            <p class="summary">
                Aspiring self-taught web developer whose been learning online courses like Harvard and
                udemy.Passionate learning about computer both software and hardware side of computer also an IT technician,
                but recently dwelling most into software development.
            </p>
        </div>
        <div class="social-link">
            <div class="link">
                <h5>tebogosekhula@gmail.com</h5>
                <i class="fa fa-envelope"></i>
            </div>
            <div class="link">
                <h5>(+27)61 498 6184</h5>
                <i class="fa fa-phone"></i>
            </div>
            <div class="link">
                <h5>mrembula/github</h5>
                <i class="fa-brands fa-github"></i>
            </div>
            <div class="link">
                <span>
                    <h5>605 Dikotsi Street</h5>
                    <h5>Tladi/Soweto</h5>
                    <h5>Johannesburg</h5>
                </span>
                <i class="fa fa-home"></i>
            </div>
        </div>
        <img src="../static/img-2.jpg" alt="resume img">
    </header>
    <div class="grid-template">
        <section>
            <span class="head">
                <i class="fa fa-graduation-cap"></i>
                <h3>education</h3>
            </span>
            <h4>matric certification [2015]</h4>
            <ul>
                <li><p>Completed High school with a higher certificate in Physical science</p></li>
            </ul>
            <h4>sololearn certification [01/2019 - 03/2019]</h4>
            <ul>
                <li><p>The foundation of computer language started using C language first introduction to computer language</p></li>
            </ul>
            <!--<h4>MICTSETA Computer Technician [09/2022 - 09/2023]</h4>
            <ul>
                <li><p>Completed an NQF level 4 in computer technical, work with computer networks</p></li>
            </ul>-->
            <h4>havard introduction to computer science (CS50) [01/2023 - 02/2024]</h4>
            <p>Introduction to computer science how memory is allocated and more other language</p>
            <ul>
                <li><p>Introduction to Computer Science using C language (CS50x)</p></li>
                <li><p>Introduction to Python (CS50p)</p></li>
                <li><p>Introduction to SQL using SQLite (CS50s)</p></li>
                <li><p>Introduction to Web development using Python's Django Framework (CS50w)</p></li>
            </ul>
            <h4>udemy online course [2024]</h4>
            <p>Courses for this are still pending, as I am still learning but end of this year i would have completed: </p>
            <ul>
                <li class="mark"><p>HTML & CSS Tutorial and Project by John Smilga</p>
                <span class="fa fa-check"></span></li>
                <li class="mark"><p>Introduction to SQL prostgres by Mo Bini</p>
                <span class="fa fa-check"></span></li>
                <li class="mark"><p>Javascript Complete Course by Jonas Schmedtmann</p>
                <span class="fa fa-check"></span></li>
                <li class="mark"><p>100 days of Python by Angela Yu</p>
                <span class="fa fa-check"></span></li>
                <li class="mark"><p>The Complete 2024 Web Development by Angela Yu</p>
                <span class="fa fa-xmark"></span></li>
                <li class="mark"><p>Mastering React by Andrei Neogoie</p>
                <span class="fa fa-xmark"></span></li>
                <li class="mark"><p>Complete Nodejs Developer by Andrei Neogoie</p>
                <span class="fa fa-xmark"></span></li>
            </ul>
        </section>
        <section>
            <span class="head">
                <i class="fa fa-suitcase"></i>
                <h3>work experience</h3>
            </span>
            <h4>dikgabo Di kopane merchindiser [2018 - 2019]</h4>
            <p>Learning product, ensuring the product is on shelves, helping customers locate our product,
                knowing all specials by heart and darting down everything my superior has to know regarding
                the demand and performance of specials</p>

            <h4>bitwise data collector [02/2020 - 05/2020]</h4>
            <p>Travelling from one taxi to the next collecting data on an application which is designed by the
                company around the Gauteng and Tshwane district, checking how long the route travelled and
                cost of transportation</p>

            <h4>school assistance (PYEI Program) [02/2021 - 07/2021]</h4>
            <p>Part of the school staff which means helping teacher and staff on getting their tasks completed.
                Even teaching, cleaning and sensitize the school. Preventing the spread of Covid-19 on the
                school premise </p>

            <h4>census data collector [04/2022 - 06/2022]</h4>
            <p>Going from collecting the number of people living within a household, asking question lie the number of
             genders in the household, whether they are recently employed, they are current salary and other personal
            details involving the household</p>
        </section>
        <section>
            <span class="head">
                <i class="fa-brands fa-dev"></i>
                <h3>development</h3>
            </span>
            <ul>
                <li><h5>Computer repairs and console</h5></li>
                <li><h5>HTML & CSS</h5></li>
                <li><p>Float</p></li>
                <li><p>Flex box</p></li>
                <li><p>Grid</p></li>
                <li><h5>Python</h5></li>
                <li><p>Can work with python, understand the workings of OOP, but still learning</p></li>
                <li><p>Can use django and flask frameworks and can also work with SQL while using both frameworks</p></li>
                <li><h5>Javascript</h5></li>
                <li><p>Recently finished the full course, but can only front-end using it</p></li>
                <li><p>All above languages. I do have an understanding of them, but I haven't started any of my projects yet.
                    I'm using project from tutors and random project website</p></li>
            </ul>
            <span class="head">
                <i class="fa fa-project-diagram"></i>
                <h3>projects</h3>
            </span>
            <ul>
                <li><h5>Python</h5></li>
                <li><p>An eCommerce website with payment processing</p></li>
                <li><p>Built a custom website using an API</p></li>
                <li><p>Built a custom web scraper to collect data</p></li>
                <li><p>Convert PDF to Audiobook</p></li>
            </ul>
            <div class="height-space">
                <ul>
                    <li><h5>CSS & HTML</h5></li>
                    <li><p>Tea Station</p></li>
                    <li><p>Road Travel Tour</p></li>
                    <li><p>Portfolio Project</p></li>
                </ul>
            </div>

        </section>
        <section>
            <span class="head">
                <i class="fa fa-tasks"></i>
                <h3>skills</h3>
            </span>
            <div id="skills">
                <div class="skill">
                    <p>Presentation & Public Speaking</p>
                    <div class="level">
                        <div class="box fill"></div>
                        <div class="box fill"></div>
                        <div class="box fill"></div>
                        <div class="box empty"></div>
                        <div class="box empty"></div>
                    </div>
                </div>
                <div class="skill">
                    <p>Active Listening</p>
                        <div class="level">
                        <div class="box fill"></div>
                        <div class="box fill"></div>
                        <div class="box fill"></div>
                        <div class="box fill"></div>
                        <div class="box fill"></div>
                    </div>
                </div>
                <div class="skill">
                    <p>Teamwork</p>
                    <div class="level">
                        <div class="box fill"></div>
                        <div class="box fill"></div>
                        <div class="box fill"></div>
                        <div class="box fill"></div>
                        <div class="box fill"></div>
                    </div>
                </div>
                <div class="skill">
                    <p>Write & Oral Communication</p>
                    <div class="level">
                        <div class="box fill"></div>
                        <div class="box fill"></div>
                        <div class="box fill"></div>
                        <div class="box fill"></div>
                        <div class="box fill"></div>
                    </div>
                </div>
                <div class="skill">
                    <p>Creativity and Problem Solving</p>
                    <div class="level">
                        <div class="box fill"></div>
                        <div class="box fill"></div>
                        <div class="box fill"></div>
                        <div class="box fill"></div>
                        <div class="box empty"></div>
                    </div>
                </div>
                </div>
            <span class="head">
                <i class="fa fa-address-card"></i>
                <h3>reference</h3>
            </span>
            <div id="contact">
                <div class="details">
                    <h5>Supervisor of Dikgabo</h5>
                    <h5>Contact Number</h5>
                    <h5>Supervisor of Bitwise</h5>
                    <h5>Contact Number</h5>
                    <h5>Supervisor of PYEI</h5>
                    <h5>Contact Number</h5>
                    <h5>Supervisor of Census</h5>
                    <h5>Contact Number</h5>
                </div>
                <div class="info">
                    <p>: Thabo (Senior Manager)</p>
                    <p>: (+27)63 502 1703</p>
                    <p>: Sebastian</p>
                    <p>: (+27)83 397 9446</p>
                    <p>: Masike (Principal)</p>
                    <p>: (+27)82 556 2643</p>
                    <p>: Kutlwano</p>
                    <p>: (+27)78 054 7918</p>
                </div>
            </div>

        </section>
    </div>
</body>
</html>